.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1847ff;
  color: white;
  background: #1847ff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #1847ff;
  border-color: #1847ff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
